- content_for :page_title, "Index"

- if current_user
  = link_to 'Sign out', destroy_user_session_path, method: :delete
- else
  = link_to 'Sign up', new_user_registration_path
  = link_to 'Sign in', new_user_session_path

.section
  .container
    -@posts.each do |post|
      .card.card-content
        .media.media-content
          %p.title.is-4= link_to post.title, post
        .content
          = post.content
      %br
        -#
          .comment-count
            .tag.is-rounded