- content_for :page_title, @post.title

.section
  .container
    %nav.level
      - # left side
      .level-left
        %p.level-item
          %strong Actions
      - # right side
      .level-right
        %p.level-item= link_to "Edit", edit_post_path(@post), class: "button"
        %p.level-item= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger"
    %hr
    .content= @post.content

.section.comments
  .container
    %h2.subtitle.is-5
      %strong= @post.comments.count
      %strong Comments
    = render @post.comments
    .comment-form
      %hr
      %h3.subtitle.is-3 Leave a reply
      = render 'comments/form'
